exportPattern("^[[:alpha:]]+")
import(Matrix)
import(doParallel)
import(foreach)
import(glmnet)
import(iterators)
import(lattice)
import(parallel)
import(slam)
export(LPR)
importFrom("stats", "coef", "lm", "predict", "quantile", "var")
